body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
#calculator {
    text-align: center;
    padding: 50px;
    border: 2px solid #0e0c0c;
    border-radius: 5px;
    background-color: brown;
}

button {
	margin-inline: 5px;
	padding: 5px;
}